.actions {
  padding: 4rem 0 0;
}

.actions__frame {
  border: 1px solid var(--pink);
  display: inline-block;
  height: 6rem;
  padding: 8px;
  width: 100%;
}

.actions__button {
  color: var(--white);
  display: block;
  font-family: "Montserrat", sans-serif;
  font-size: var(--fs5);
  height: 4.2rem;
  letter-spacing: 0.15em;
  line-height: 4rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.3s;
}

@media only screen and (min-width: 768px) {
  .actions {
    display: flex;
    justify-content: center;
  }

  .actions__frame {
    display: block;
    margin: 0 2rem;
    width: 18rem;
  }
}
