/*

   TEXT

*/
.tl {
  text-align: left;
}
.tr {
  text-align: right;
}
.tc {
  text-align: center;
}
.tracked-tight {
  letter-spacing: -0.05em;
}
.tracked {
  letter-spacing: 0.1em;
}
.tracked-mega {
  letter-spacing: 0.25em;
}
/*

   WHITE SPACE

*/
.ws-normal {
  white-space: normal;
}
.ws-nowrap {
  white-space: nowrap;
}
.ws-pre {
  white-space: pre;
}
