/*

   COLORS

*/
.blue {
  color: var(--blue);
}
.pink {
  color: var(--pink);
}
.orange {
  color: var(--orange);
}
.yellow {
  color: var(--yellow);
}
.green {
  color: var(--green);
}
.light-navy {
  color: var(--light-navy);
}
.navy {
  color: var(--navy);
}
.dark-navy {
  color: var(--dark-navy);
}
.black {
  color: var(--black);
}
.white {
  color: var(--white);
}

/*  
    Background Colors
*/
.bg-blue {
  background-color: var(--blue);
}
.bg-pink {
  background-color: var(--pink);
}
.bg-orange {
  background-color: var(--orange);
}
.bg-yellow {
  background-color: var(--yellow);
}
.bg-green {
  background-color: var(--green);
}
.bg-light-navy {
  background-color: var(--light-navy);
}
.bg-navy {
  background-color: var(--navy);
}

/*

    Border Colors

*/
.border--blue {
  border-color: var(--blue);
}
.border--pink {
  border-color: var(--pink);
}
.border--orange {
  border-color: var(--orange);
}
.border--yellow {
  border-color: var(--yellow);
}
.border--green {
  border-color: var(--green);
}
.border--light-navy {
  border-color: var(--light-navy);
}
.border--navy {
  border-color: var(--navy);
}
.border--dark-navy {
  border-color: var(--dark-navy);
}
.border--black {
  border-color: var(--black);
}
.border--white {
  border-color: var(--white);
}
