.nav {
  position: fixed;
  top: 25vh;
  right: var(--s5);

  z-index: var(--z-increment);
}

.nav__list {
  margin: 0;
  padding: 0;
  position: relative;

  list-style: none;
}

.nav__list__item {
  margin-top: var(--s5);
  padding: var(--s2);
}

.nav__link {
  position: relative;

  cursor: pointer;
  display: block;

  color: transparent;
  text-align: right;
  text-transform: uppercase;
  transition: all 0.5s;
}

/* Circle/Dot */
.nav__link:after {
  content: " ";
  position: absolute;
  top: 0;
  right: 0;

  height: var(--s3);
  /* Padding the space between border and dot */
  padding: calc(0.5 * var(--s3));
  width: var(--s3);

  background-color: var(--white);
  background-clip: content-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;
}

/* On hover, show the border */
.nav__list__item:nth-child(1) .nav__link:after {
  background-color: var(--blue);
}
.nav__list__item:nth-child(1) .nav__link:hover:after {
  border-color: var(--blue);
}
.nav__list__item:nth-child(2) .nav__link:after {
  background-color: var(--pink);
}
.nav__list__item:nth-child(2) .nav__link:hover:after {
  border-color: var(--pink);
}
.nav__list__item:nth-child(3) .nav__link:after {
  background-color: var(--orange);
}
.nav__list__item:nth-child(3) .nav__link:hover:after {
  border-color: var(--orange);
}
.nav__list__item:nth-child(4) .nav__link:after {
  background-color: var(--yellow);
}
.nav__list__item:nth-child(4) .nav__link:hover:after {
  border-color: var(--yellow);
}
.nav__list__item:nth-child(5) .nav__link:after {
  background-color: var(--green);
}
.nav__list__item:nth-child(5) .nav__link:hover:after {
  border-color: var(--green);
}

/*
    Decorative Lines 

@media (--large-viewport) {
  .nav {
    box-shadow: 11px 0px 0 -1rem var(--pink), 12px 20px 0 -1.9rem var(--pink),
      12px -20px 0 -1.9rem var(--pink);

    &:after,
    &:before {
      content: "";
      display: block;
      height: 12px;
      position: absolute;
      right: 0.3rem;
      width: 8px;
    }

    &:after {
      border-left: 1px solid var(--pink);
      border-right: 1px solid var(--pink);
      bottom: -0.1rem;
      transform: skew(-35deg);
    }

    &:before {
      border-left: 1px solid var(--pink);
      border-right: 1px solid var(--pink);
      transform: skew(35deg);
      top: -0.1rem;
    }
  }

  .nav__list:after {
    content: "";

    position: absolute;
    top: var(--s5);
    right: calc(-1 * var(--s4));

    height: var(--s7);
    width: 1px;

    border-right: 1px solid var(--blue);
    background: var(--pink);
  }
}

*/
