/*
    NAV

    Default (mobile): Nav is at the bottom with large touch targets

    > medium-viewport: Nav is at the right with small targets

*/
.nav {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;

  padding: var(--s5) var(--s5) var(--s3) var(--s3);

  z-index: var(--z-increment);

  /* Ease the linear gradient */
  background-image: linear-gradient(
    0deg,
    var(--dark-navy),
    50%,
    color(var(--dark-navy) alpha(50%)) 65%,
    82%,
    transparent
  );

  @media (--medium-viewport) {
    top: 50%;
    right: var(--s3);
    bottom: auto;
    left: auto;

    padding: var(--s3) var(--s5) var(--s3) var(--s3);
    transform: translateY(-50%);

    background-image: none;
  }
}

.nav__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  margin: 0 var(--s3);
  padding: 0;

  list-style: none;

  @media (--medium-viewport) {
    margin: 0;
    display: block;
  }
}

.nav__list__item {
  margin-right: var(--s5);
  padding: var(--s4);
  position: relative;

  &:last-child {
    margin-right: 0;
  }

  @media (--medium-viewport) {
    margin-top: var(--s5);
    margin-right: 0;
    padding: var(--s2);
  }
}

.nav__list__item:first-child {
  margin-top: 0;
}

.nav__link {
  cursor: pointer;
  display: block;

  color: transparent;
  text-align: right;
  text-transform: uppercase;
  transition: all 0.5s;
}

/* Circle/Dot */
:root {
  /* The spacing between the border and the dot */
  --nav-dot-spacing: calc(0.5 * var(--s5));
  --nav-dot-spacing-m: calc(0.5 * var(--s3));
}
.nav__link:after {
  content: " ";
  position: absolute;
  top: calc(-1 * var(--nav-dot-spacing));
  left: calc(-1 * var(--nav-dot-spacing));

  height: var(--s5);
  padding: var(--nav-dot-spacing);
  width: var(--s5);

  background-color: var(--white);
  background-clip: content-box;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  border-radius: 50%;

  @media (--medium-viewport) {
    height: var(--s3);
    padding: var(--nav-dot-spacing-m);
    width: var(--s3);
  }
}

/* On hover and when active, show the border */
.nav__list__item:nth-child(1) .nav__link:after {
  background-color: var(--blue);
}
.nav__list__item:nth-child(1) .nav__link:hover:after,
.nav__list__item:nth-child(1) .nav__link.is-active:after {
  border-color: var(--blue);
}
.nav__list__item:nth-child(2) .nav__link:after {
  background-color: var(--pink);
}
.nav__list__item:nth-child(2) .nav__link:hover:after,
.nav__list__item:nth-child(2) .nav__link.is-active:after {
  border-color: var(--pink);
}
.nav__list__item:nth-child(3) .nav__link:after {
  background-color: var(--orange);
}
.nav__list__item:nth-child(3) .nav__link:hover:after,
.nav__list__item:nth-child(3) .nav__link.is-active:after {
  border-color: var(--orange);
}
.nav__list__item:nth-child(4) .nav__link:after {
  background-color: var(--yellow);
}
.nav__list__item:nth-child(4) .nav__link:hover:after,
.nav__list__item:nth-child(4) .nav__link.is-active:after {
  border-color: var(--yellow);
}
.nav__list__item:nth-child(5) .nav__link:after {
  background-color: var(--green);
}
.nav__list__item:nth-child(5) .nav__link:hover:after,
.nav__list__item:nth-child(5) .nav__link.is-active:after {
  border-color: var(--green);
}

/*
    Decorative Lines
*/
:root {
  --nav-decor-height: var(--s3);
  --nav-decor-width: var(--s2);
}
@media (--medium-viewport) {
  .nav {
    &:after,
    &:before {
      content: " ";
      position: absolute;
      right: 0;

      height: var(--nav-decor-height);
      width: var(--nav-decor-width);
    }

    &:after {
      bottom: 0;

      transform: skew(-35deg);
      transform-origin: top right;

      border-left: 1px solid var(--pink);
      border-right: 1px solid var(--pink);
    }
    &:before {
      top: 0;

      transform: skew(35deg);
      transform-origin: bottom right;

      border-left: 1px solid var(--pink);
      border-right: 1px solid var(--pink);
    }
  }

  .nav__list {
    &:before {
      content: " ";
      position: absolute;
      top: var(--nav-decor-height);
      right: 0;
      bottom: var(--nav-decor-height);

      width: var(--nav-decor-width);

      border-left: 1px solid var(--pink);
      border-right: 1px solid var(--pink);
    }
  }
}
