.section {
  margin-bottom: var(--s5);
  padding: var(--s6) var(--s5);

  background-color: var(--light-navy);
  background-image: linear-gradient(
    41deg,
    var(--dark-navy) 0%,
    var(--light-navy) 64%
  );
  border-top: 1px solid color(var(--white) alpha(15%));
  border-bottom: 1px solid color(var(--white) alpha(15%));
  box-shadow: 0 6px 3px 0 var(--black);

  /* good for light text on dark backgrounds */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (--medium-viewport) {
    /* Leave extra pading for the decorative "Arm" */
    padding: var(--s6) var(--s7);
  }
}

.section__container {
  margin: 0 auto;
  max-width: var(--s11);
  position: relative;

  z-index: var(--z-base);

  text-align: center;
}

.section__header,
.section__content,
.section__figure {
  z-index: var(--z-increment);
}

.section__header {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-between;

  margin-bottom: var(--s4);

  text-align: left;
}

.section__header__title {
  padding-left: var(
    --s3
  ); /* Safari clips the large number without this /shrug */

  letter-spacing: var(--tracked-mega);
}

.section__header__subtitle {
  margin: 0;
}

.section__content {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;

  margin: 0 auto var(--s5);
  max-width: var(--s9);

  text-align: left;

  @media (--medium-viewport) {
    flex-direction: row;
    max-width: initial;
    padding: 0 var(--s1);
  }
}

.section__figure {
  margin: 0 auto var(--s6);
  position: relative;

  border-width: 2px;
  border-style: solid;
  box-shadow: 0 2px 54px rgba(0, 0, 0, 7.6);
}

.section__figure::before,
.section__figure::after {
  content: " ";
  position: absolute;

  display: block;
  height: 10rem;
  width: 10rem;
}

.section__figure__img {
  display: block;
}

/*
    Decoration: Outlined Circle & "Arm"
*/
@media (--medium-viewport) {
  .section__header {
    position: relative;

    /* Circle */
    &:after {
      content: " ";
      position: absolute;

      top: 50%;
      left: calc(-1 * var(--s4));

      transform: translateY(-50%);

      height: var(--s2);
      width: var(--s2);

      border-color: inherit;
      border-width: 1px;
      border-style: solid;
      border-radius: var(--s6);
    }

    /* "Arm" */
    &:before {
      content: " ";
      position: absolute;

      top: 50%;
      left: calc(-2 * var(--s4));

      height: var(--s8);
      width: var(--s6);

      border-color: inherit;
      border-top-width: 1px;
      border-right-width: 0;
      border-bottom-width: 1px;
      border-left-width: 1px;
      border-style: solid;

      clip-path: polygon(0 0, var(--s4) 0, 100% 100%, 0% 100%);
    }
  }
}
