/*
  This CSS follows BEM naming conventions. http://getbem.com/introduction/
  
  Naming Style
    .component
    .component--modifier
    .component__children
  
  Example
    .header          // Base header
    .header--pink    // Modifier for header 
    .header__title   // Title inside of header

  Usage 
    <header className="header header--pink">
      <h1 className="header__title">Header Title</h1>
    </header> 
*/

/* 
    Base
*/
@import "../../node_modules/normalize.css";
@import "./base/variables.css";
@import "./base/fonts.css";
@import "./base/typography.css";
@import "./base/color.css";
@import "./base/button.css";

/*
    Layouts 
    Corresponds to `src/layouts/*.js`
*/
@import "./layouts/index.css";

/* 
    Components
    Corresponds to `src/partials/*.js`
*/
@import "./components/actions.css";
@import "./components/cta-footer.css";
@import "./components/hero.css";
@import "./components/jump-nav.css";
@import "./components/section.css";

/* 
  Global
*/
*,
*:after,
*:before {
  box-sizing: inherit;
}

html {
  background-color: var(--navy);
  box-sizing: border-box;
  color: var(--white);
  font-size: var(--root);
}

body {
  font-size: var(--base);
  -webkit-overflow-scrolling: touch;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

svg {
  fill: currentColor;
}

img {
  max-width: 100%;
}

a:link {
  color: inherit;
}

a:visited {
  color: inherit;
}

::-moz-selection {
  background: var(--pink);
  color: var(--white);
  text-shadow: none;
}

::selection {
  background: var(--pink);
  color: var(--white);
  text-shadow: none;
}
