@font-face {
  font-family: "lazer84";
  src: url("../assets/fonts/lazer84.woff2") format("woff2"),
    url("../assets/fonts/lazer84.woff") format("woff");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "exo";
  src: url("../assets/fonts/exo2.woff2") format("woff2"),
    url("../assets/fonts/exo2.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
