/*

   TYPOGRAPHY

   "Flash of Faux Text"
   Once custom fonts are loaded, a class gets added to `html`
   custom heading fallbacks created with https://meowni.ca/font-style-matcher/

*/
/*
    Default
*/
html:not(.exo-active) {
  font-family: "Helvetica", sans-serif;
  line-height: 2;
}

html.exo-active {
  font-family: "Exo", sans-serif;
  line-height: 2;
}

/*
    Title
*/
html:not(.lazer84-active) .title {
  font-family: "Arial Black", "Impact", sans-serif;
  letter-spacing: -0.075em;
}
html.lazer84-active .title {
  font-family: "lazer84", sans-serif;
}

.title {
  font-size: calc(var(--s6) - 2rem);
  font-style: italic;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
  filter: drop-shadow(var(--s1) var(--s1) 0 var(--black));

  @media (--small-viewport) {
    font-size: calc(var(--s6) - 1rem);
  }

  @media (--medium-viewport) {
    font-size: var(--s6);
  }
}

/*
    Subtitle
*/
html:not(.montserrat-active) .subtitle {
  font-family: "Helvetica", "Arial", sans-serif;
  letter-spacing: 6px;
}
html.montserrat-active .subtitle {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
}
.subtitle {
  display: block;
  font-size: var(--s3);
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;

  @media (--medium-viewport) {
    font-size: var(--s4);
  }
}
