/*----------------------------------------
  Heading A
  ----------------------------------------*/

.heading--a {
  font-family: "lazer84", sans-serif;
  font-style: italic;
  font-weight: normal;
  line-height: 1.2;
  text-transform: uppercase;
  filter: drop-shadow(0.5rem 0.5rem 0 var(--black));
}

.hero__title {
  background-image: linear-gradient(
    90deg,
    var(--pink) 0%,
    var(--orange) 20%,
    var(--yellow) 40%,
    var(--green) 60%,
    var(--blue) 80%
  );
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  font-size: var(--fs2);
  position: absolute;
  text-indent: 1.5rem;
  white-space: nowrap;
  width: 150%;
  left: -90px;
  top: 40%;
}

/*----------------------------------------
  Heading B
  ----------------------------------------*/

.heading--b {
  font-family: "Montserrat", sans-serif;
  letter-spacing: 5px;
  display: block;
  font-size: var(--fs3);
  font-weight: 700;
  line-height: 1.5;
  text-transform: uppercase;
}

.hero__subtitle {
  margin-top: 252px;
  text-align: center;
}

/*----------------------------------------
  Code
  ----------------------------------------*/

.text-xl {
  font-family: "lazer84", sans-serif;
  font-size: var(--fs1);
  font-style: italic;
  font-weight: normal;
  filter: drop-shadow(0.5rem 0.5rem 0 var(--black));
  letter-spacing: 1.1rem;
  text-indent: 1.3rem;
}

/*----------------------------------------
  Code
  ----------------------------------------*/

.code {
  font-family: "Menlo", "Consolas", "Courier", monospace;
}
