:root {
  /*
      Colors
  */
  --blue: #38c8ef;
  --pink: #f038b3;
  --orange: #f28e5c;
  --yellow: #f0dd3f;
  --green: #8ae98b;
  --light-navy: #02243c;
  --navy: #000f19;
  --dark-navy: #00101a;
  --black: #000;
  --white: #fff;

  /*
      Font Size Base
  */
  --base: 14px;

  /*
      Spacing/Sizing
  */
  --s1: 0.25rem; /* 3.5px */
  --s2: 0.5rem; /* 7px */
  --s3: 1rem; /* 14px */
  --s4: 1.5rem; /* 21px */
  --s5: 2rem; /* 28px */
  --s6: 5rem; /* 70px */
  --s7: 8rem; /* 112px */
  --s8: 16rem; /* 224px */
  --s9: 32rem; /* 448px */
  --s10: 48rem; /* 672px */
  --s11: 64rem; /* 896px */
  --s12: 96rem; /* 1344px */

  /*
        Letter Spacing
  */
  --tracked-tight: -0.05em;
  --tracked: 0.1em;
  --tracked-mega: 0.25em;

  /*
      Z-Index
  */
  --z-decrement: -1;
  --z-base: 0;
  --z-increment: 1;
  --z-nav: 100;
}

/*
    Media Queries
*/
@custom-media --small-viewport only screen and (min-width: 480px);
@custom-media --medium-viewport only screen and (min-width: 768px);
@custom-media --large-viewport only screen and (min-width: 1024px);
