:root {
  /* Color */
  --blue: #38c8ef;
  --pink: #f038b3;
  --orange: #f28e5c;
  --yellow: #f0dd3f;
  --green: #8ae98b;
  --light-navy: #02243c;
  --navy: #000f19;
  --dark-navy: #00101a;
  --black: #000;
  --white: #fff;

  /* Color Opacity */
  --blue8: rgba(2, 36, 60, 0.8);
  --pink4: rgba(240, 56, 179, 0.4);
  --pink7: rgba(240, 56, 179, 0.7);
  --pink9: rgba(240, 56, 179, 0.9);
  --orange4: rgba(242, 142, 92, 0.4);
  --orange7: rgba(242, 142, 92, 0.7);
  --orange9: rgba(242, 142, 92, 0.9);
  --yellow4: rgba(240, 221, 63, 0.4);
  --yellow7: rgba(240, 221, 63, 0.7);
  --yellow9: rgba(240, 221, 63, 0.9);
  --green4: rgba(138, 233, 139, 0.4);
  --green7: rgba(138, 233, 139, 0.7);
  --green9: rgba(138, 233, 139, 0.9);

  /* Font Sizing */
  --root: 62.5%;
  --base: 1.5rem;
  --fs1: 9.4rem;
  --fs2: 7.5rem;
  --fs3: 2.4rem;
  --fs4: 1.8rem;
  --fs5: 1.4rem;
  --fs6: 1.3rem;
  --fs7: 1rem;
}
